<div *ngFor="let lead of leads$ | async">
    <h2>{{ lead.first_name }} {{ lead.last_name }}</h2>
    <button (click)="loadPotentialDuplicates(lead.lead_id)">Mark as Actual Duplicate</button>
    <ul>
        <li *ngFor="let duplicate of duplicates">
            <p>{{duplicate}}</p>
        </li>
    </ul>
    <!-- <ul *ngIf="lead.potential_duplicates && lead.potential_duplicates.length > 0">
        <li *ngFor="let duplicate of lead.potential_duplicates">
            {{ duplicate }}
            <button (click)="markAsActualDuplicate(lead.lead_id, duplicate)">Mark as Actual Duplicate</button>
        </li>
    </ul> -->
    <hr>
</div>